@font-face {
  font-family: teko;
  src: url(/Advanced\ Layout/Assets/Fonts/Teko-VariableFont_wght.ttf);
}
@font-face {
  font-family: lato;
  src: url(/Advanced\ Layout/Assets/Fonts/Lato-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "lato";
  color: #ffffff;
}

button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
}

h3,
b {
  color: #eef36a;
  font-family: "teko";
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef36a;
}
nav .logo {
  color: #070410;
  margin: 16px;
  font-size: 3em;
  font-family: "teko";
}
nav ul {
  margin: 16px;
  color: #070410;
  text-decoration: none;
  list-style: none;
}
nav li {
  display: inline;
  margin: 16px;
}
nav .S-button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  box-shadow: #231651 0px 0px 20px;
  margin-right: 16px;
}

.movie-content {
  display: grid;
  max-width: 900px;
  padding: 48px;
  margin: auto auto;
}

.m1-card {
  box-shadow: #231651 5px 5px 5.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #070410;
  margin-top: 16px;
}

.m1-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: auto;
  max-height: 300px;
}

.m1-text {
  display: flex;
  flex-grow: 1;
  margin: 48px;
  font-size: 1.5em;
}

.m1b {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-left: 16px;
  margin-top: auto;
}

.movies-container {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.m2-card, .m3-card {
  box-shadow: #231651 5px 5px 5.9px;
  margin-top: 16px;
  justify-content: space-between;
  width: 50%;
  background-color: #070410;
  display: flex;
  flex-direction: column;
}

.m2-image, .m3-image {
  width: 100%;
  height: auto;
}

.m2-text, .m3-text {
  margin: 48px;
  font-size: 1.5em;
  flex-grow: 1;
}
.m2-text button, .m3-text button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-top: auto;
}

.m3-text button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-top: auto;
}

.m4-card, .m6-card, .m5-card {
  box-shadow: #231651 5px 5px 5.9px;
  margin-top: 16px;
  background-color: #070410;
  display: flex;
}
.m4-card button, .m6-card button, .m5-card button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-top: auto;
}

.m4-image, .m6-image, .m5-image {
  width: 50%;
  height: auto;
}

.m4-text, .m6-text, .m5-text {
  margin: 48px;
  font-size: 1.5em;
}

.m5-text button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-top: auto;
}

.m6-text button {
  font-size: 2em;
  border-radius: 16px;
  font-family: "teko";
  background-color: #eef36a;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 719px) {
  nav {
    width: 100%;
    font-size: 1.5em;
  }
  ul {
    display: none;
  }
  .movie-content {
    max-width: 900px;
    padding: 0;
    margin: 0;
  }
  .m1-card {
    box-shadow: #231651 5px 5px 5.9px;
    display: flex;
    flex-direction: column;
    background-color: #070410;
  }
  .m1-text {
    flex-direction: column;
  }
  p {
    margin: 16px;
    font-size: 1.5em;
  }
  .m1b {
    font-size: 2em;
    border-radius: 16px;
    font-family: "teko";
    background-color: #eef36a;
    width: 100%;
    height: auto;
  }
  .movies-container {
    flex-wrap: wrap;
  }
  .m2-card, .m3-card {
    width: 100%;
  }
  .m3-card {
    flex-direction: column;
  }
  .m3-card button {
    margin-top: 16px;
  }
  .m3-image {
    width: 100%;
  }
  .m4-card, .m5-card, .m6-card {
    flex-direction: column;
  }
  .m4-image, .m5-image, .m6-image {
    width: 100%;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .movie-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    grid-gap: 10px;
    padding: none;
    margin: auto auto;
  }
  .movies-container {
    display: contents;
  }
  .m1-image {
    width: 100%;
    max-height: none;
  }
  .m1-text {
    flex-direction: column;
    margin: 0;
    margin-right: 48px;
    margin-left: 48px;
  }
  .m1-text .m1b {
    margin-bottom: 32px;
  }
  .m2-card, .m3-card {
    width: 100%;
  }
  .m3-card {
    width: 100%;
  }
  .m4-card, .m5-card, .m6-card {
    display: flex;
    flex-direction: column;
  }
  .m4-image, .m5-image, .m6-image {
    width: 100%;
  }
  .m4-text, .m5-text, .m6-text {
    flex-grow: 1;
  }
  .m5-card {
    flex-direction: column;
  }
  .m6-card {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */