//Importing External Fonts

@font-face {
  font-family: teko;
  src: url(/Advanced\ Layout/Assets/Fonts/Teko-VariableFont_wght.ttf);
}

@font-face {
  font-family: lato;
  src: url(/Advanced\ Layout/Assets/Fonts/Lato-Regular.ttf);
}
