//Assigning data to variables to use in the main stylesheet

//color variables
$primary: #ffffff;
$secondary: #231651;
$text: #070410;
$accent: #4dccbd;
$links: #eef36a;

//font variables
$font-heading: "teko";
$font-def: "lato";

//spacing variables
$small-spacing: 16px;
$large-sm: 16px;
$large-st: 32px;
$large-sd: 48px;

//font size variables
$fs1: 1.5em;
$fs2: 2em;
$fs3: 3em;
